In [1]:
import numpy as np
import pandas as pd
#import quandl

In [2]:
# Dow Sectors ###############################################
DJI_Sectors = pd.read_csv('Data/Dow_Index.csv', sep = ',')
# DJI_Sectors = DJI_Sectors[['symbol','sector']]
DJI_Sectors

,Unnamed: 0,symbol,company,weight,sector,shares_held
0,1,BA,Boeing Company,0.081468,Industrials,5984499
1,2,GS,Goldman Sachs Group Inc.,0.072404,Financials,5984499
2,3,MMM,3M Company,0.066475,Industrials,5984499
3,4,UNH,UnitedHealth Group Incorporated,0.062516,Health Care,5984499
4,5,HD,Home Depot Inc.,0.051083,Consumer Discretionary,5984499
5,6,MCD,McDonald's Corporation,0.048394,Consumer Discretionary,5984499
6,7,AAPL,Apple Inc.,0.048245,Information Technology,5984499
7,8,IBM,International Business Machines Corporation,0.044041,Information Technology,5984499
8,9,CAT,Caterpillar Inc.,0.040299,Industrials,5984499
9,10,JNJ,Johnson & Johnson,0.040068,Health Care,5984499
10,11,TRV,Travelers Companies Inc.,0.037750,Financials,5984499
11,12,UTX,United Technologies Corporation,0.034696,Industrials,5984499
12,13,CVX,Chevron Corporation,0.033628,Energy,5984499
13,14,V,Visa Inc. Class A,0.031880,Information Technology,5984499
14,15,DIS,Walt Disney Company,0.030186,Consumer Discretionary,5984499
15,16,JPM,JPMorgan Chase & Co.,0.030023,Financials,5984499
16,17,AXP,American Express Company,0.027921,Financials,5984499
17,18,WMT,Wal-Mart Stores Inc.,0.027171,Consumer Staples,5984499
18,19,PG,Procter & Gamble Company,0.025246,Consumer Staples,5984499
19,20,MSFT,Microsoft Corporation,0.024047,Information Technology,5984499
20,21,XOM,Exxon Mobil Corporation,0.023254,Energy,5984499
21,22,DWDP,DowDuPont Inc.,0.019891,Materials,5984500
22,23,NKE,NIKE Inc. Class B,0.017469,Consumer Discretionary,5984499
23,24,MRK,Merck & Co. Inc.,0.016036,Health Care,5984499
24,25,VZ,Verizon Communications Inc.,0.014946,Telecommunication Services,5984499
25,26,KO,Coca-Cola Company,0.012726,Consumer Staples,5984499
26,27,INTC,Intel Corporation,0.012175,Information Technology,5984499
27,28,CSCO,Cisco Systems Inc.,0.010652,Information Technology,5984499
28,29,PFE,Pfizer Inc.,0.010278,Health Care,5984499
29,30,GE,General Electric Company,0.005032,Industrials,5984499

In [3]:
# Dow Jones Industrial 30 ###################################
DJI = pd.read_excel('Data/DJI/DJI.xlsx', skiprows = 25, header=1)
DJI['Symbol'] = 'DJI'
DJI['dailyReturns'] = DJI['Close'].pct_change()
DJI.head()

,Exchange Date,Close,Net,%Chg,Open,Low,High,Volume,Turnover,Approx VWAP,O-C,H-L,%CVol,%CTurn,Symbol,dailyReturns
0,2017-12-12,24504.80,118.77,0.004870,24452.96,24443.83,24552.97,342223357,NaN,NaN,51.84,109.14,0.138528,NaN,DJI,NaN
1,2017-12-11,24386.03,56.87,0.002338,24338.11,24314.74,24389.72,300583950,NaN,NaN,47.92,74.98,0.023828,NaN,DJI,-0.004847
2,2017-12-08,24329.16,117.68,0.004861,24263.26,24225.50,24330.12,293588460,NaN,NaN,65.90,104.62,-0.079835,NaN,DJI,-0.002332
3,2017-12-07,24211.48,70.57,0.002923,24116.60,24101.24,24262.88,319060597,NaN,NaN,94.88,161.64,0.020262,NaN,DJI,-0.004837
4,2017-12-06,24140.91,-39.73,-0.001643,24171.90,24134.49,24229.35,312724140,NaN,NaN,-30.99,94.86,-0.157507,NaN,DJI,-0.002915

In [4]:
# DataFrame for Merge
df = pd.DataFrame()

In [5]:
# Stocks ####################################################

# Apple
AAPL = pd.read_excel('Data/DJI/AAPL.xlsx', skiprows = 25)
AAPL = AAPL.loc[:,'Exchange Date':'%CTurn']
AAPL['Symbol'] = 'AAPL'
AAPL['dailyReturns'] = AAPL['Close'].pct_change()

df = df.append(AAPL, ignore_index = True)

# 3M
MMM = pd.read_excel('Data/DJI/MMM.xlsx', skiprows = 21)
MMM = MMM.loc[:,'Exchange Date':'%CTurn']
MMM['Symbol'] = 'MMM'
MMM['dailyReturns'] = MMM['Close'].pct_change()

df = df.append(MMM, ignore_index = True)

# American Express
AXP = pd.read_excel('Data/DJI/AXP.xlsx', skiprows = 25)
AXP = AXP.loc[:,'Exchange Date':'%CTurn']
AXP['Symbol'] = 'AXP'
AXP['dailyReturns'] = AXP['Close'].pct_change()

df = df.append(AXP, ignore_index = True)

# Boeing
BA = pd.read_excel('Data/DJI/BA.xlsx', skiprows = 22)
BA = BA.loc[:,'Exchange Date':'%CTurn']
BA['Symbol'] = 'BA'
BA['dailyReturns'] = BA['Close'].pct_change()

df = df.append(BA, ignore_index = True)

# Caterpiller
CAT = pd.read_excel('Data/DJI/CAT.xlsx', skiprows = 24)
CAT = CAT.loc[:,'Exchange Date':'%CTurn']
CAT['Symbol'] = 'CAT'
CAT['dailyReturns'] = CAT['Close'].pct_change()

df = df.append(CAT, ignore_index = True)

# Chevron Corporation
CVX = pd.read_excel('Data/DJI/CVX.xlsx', skiprows = 22)
CVX = CVX.loc[:,'Exchange Date':'%CTurn']
CVX['Symbol'] = 'CVX'
CVX['dailyReturns'] = CVX['Close'].pct_change()

df = df.append(CVX, ignore_index = True)

# Cisco Systems Inc
CSCO = pd.read_excel('Data/DJI/CSCO.xlsx', skiprows = 25)
CSCO = CSCO.loc[:,'Exchange Date':'%CTurn']
CSCO['Symbol'] = 'CSCO'
CSCO['dailyReturns'] = CSCO['Close'].pct_change()

df = df.append(CSCO, ignore_index = True)

# Coca-Cola Company
KO = pd.read_excel('Data/DJI/KO.xlsx', skiprows = 23)
KO = KO.loc[:,'Exchange Date':'%CTurn']
KO['Symbol'] = 'KO'
KO['dailyReturns'] = KO['Close'].pct_change()

df = df.append(KO, ignore_index = True)

# Walt Disney Company
DIS = pd.read_excel('Data/DJI/DIS.xlsx', skiprows = 23)
DIS = DIS.loc[:,'Exchange Date':'%CTurn']
DIS['Symbol'] = 'DIS'
DIS['dailyReturns'] = DIS['Close'].pct_change()

df = df.append(DIS, ignore_index = True)

# Exxon Mobil Corporation
XOM = pd.read_excel('Data/DJI/XOM.xlsx', skiprows = 25)
XOM = XOM.loc[:,'Exchange Date':'%CTurn']
XOM['Symbol'] = 'XOM'
XOM['dailyReturns'] = XOM['Close'].pct_change()

df = df.append(XOM, ignore_index = True)

# General Electric Company
GE = pd.read_excel('Data/DJI/GE.xlsx', skiprows = 22)
GE = GE.loc[:,'Exchange Date':'%CTurn']
GE['Symbol'] = 'GE'
GE['dailyReturns'] = GE['Close'].pct_change()

df = df.append(GE, ignore_index = True)

# Goldman Sachs Group Inc
GS = pd.read_excel('Data/DJI/GS.xlsx', skiprows = 21)
GS = GS.loc[:,'Exchange Date':'%CTurn']
GS['Symbol'] = 'CAT'
GS['dailyReturns'] = GS['Close'].pct_change()

df = df.append(GS, ignore_index = True)

# Home Depot Inc
HD = pd.read_excel('Data/DJI/HD.xlsx', skiprows = 26)
HD = HD.loc[:,'Exchange Date':'%CTurn']
HD['Symbol'] = 'HD'
HD['dailyReturns'] = HD['Close'].pct_change()

df = df.append(HD, ignore_index = True)

# International Business Machines Corporation
IBM = pd.read_excel('Data/DJI/IBM.xlsx', skiprows = 25)
IBM = IBM.loc[:,'Exchange Date':'%CTurn']
IBM['Symbol'] = 'IBM'
IBM['dailyReturns'] = IBM['Close'].pct_change()

df = df.append(IBM, ignore_index = True)

# Intel Corporation
INTC = pd.read_excel('Data/DJI/INTC.xlsx', skiprows = 23)
INTC = INTC.loc[:,'Exchange Date':'%CTurn']
INTC['Symbol'] = 'INTC'
INTC['dailyReturns'] = INTC['Close'].pct_change()

df = df.append(INTC, ignore_index = True)

# Johnson & Johnson
JNJ = pd.read_excel('Data/DJI/JNJ.xlsx', skiprows = 23)
JNJ = JNJ.loc[:,'Exchange Date':'%CTurn']
JNJ['Symbol'] = 'JNJ'
JNJ['dailyReturns'] = JNJ['Close'].pct_change()

df = df.append(JNJ, ignore_index = True)

# JPMorgan Chase & Co
JPM = pd.read_excel('Data/DJI/JPM.xlsx', skiprows = 26)
JPM = JPM.loc[:,'Exchange Date':'%CTurn']
JPM['Symbol'] = 'JPM'
JPM['dailyReturns'] = JPM['Close'].pct_change()

df = df.append(JPM, ignore_index = True)

# McDonald's Corporation
MCD = pd.read_excel('Data/DJI/MCD.xlsx', skiprows = 25)
MCD = MCD.loc[:,'Exchange Date':'%CTurn']
MCD['Symbol'] = 'MCD'
MCD['dailyReturns'] = MCD['Close'].pct_change()

df = df.append(MCD, ignore_index = True)

# Merck & Co. Inc
MRK = pd.read_excel('Data/DJI/MRK.xlsx', skiprows = 23)
MRK = MRK.loc[:,'Exchange Date':'%CTurn']
MRK['Symbol'] = 'MRK'
MRK['dailyReturns'] = MRK['Close'].pct_change()

df = df.append(MRK, ignore_index = True)

# Microsoft
MSFT = pd.read_excel('Data/DJI/MSFT.xlsx', skiprows = 24)
MSFT = MSFT.loc[:,'Exchange Date':'%CTurn']
MSFT['Symbol'] = 'MSFT'
MSFT['dailyReturns'] = MSFT['Close'].pct_change()

df = df.append(MSFT, ignore_index = True)

# Nike
NKE = pd.read_excel('Data/DJI/NKE.xlsx', skiprows = 23)
NKE = NKE.loc[:,'Exchange Date':'%CTurn']
NKE['Symbol'] = 'NKE'
NKE['dailyReturns'] = NKE['Close'].pct_change()

df = df.append(NKE, ignore_index = True)

# Pfizer Inc
PFE = pd.read_excel('Data/DJI/PFE.xlsx', skiprows = 25)
PFE = PFE.loc[:,'Exchange Date':'%CTurn']
PFE['Symbol'] = 'PFE'
PFE['dailyReturns'] = PFE['Close'].pct_change()

df = df.append(PFE, ignore_index = True)

# Procter & Gamble
PG = pd.read_excel('Data/DJI/PG.xlsx', skiprows = 24)
PG = PG.loc[:,'Exchange Date':'%CTurn']
PG['Symbol'] = 'PG'
PG['dailyReturns'] = PG['Close'].pct_change()

df = df.append(PG, ignore_index = True)

# Travelers Companies Inc
TRV = pd.read_excel('Data/DJI/TRV.xlsx', skiprows = 22)
TRV = TRV.loc[:,'Exchange Date':'%CTurn']
TRV['Symbol'] = 'TRV'
TRV['dailyReturns'] = TRV['Close'].pct_change()

df = df.append(TRV, ignore_index = True)

# United Technologies Corporation
UTX = pd.read_excel('Data/DJI/UTX.xlsx', skiprows = 23)
UTX = UTX.loc[:,'Exchange Date':'%CTurn']
UTX['Symbol'] = 'UTX'
UTX['dailyReturns'] = UTX['Close'].pct_change()

df = df.append(UTX, ignore_index = True)

# UnitedHealth Group Incorporated
UNH = pd.read_excel('Data/DJI/UNH.xlsx', skiprows = 21)
UNH = UNH.loc[:,'Exchange Date':'%CTurn']
UNH['Symbol'] = 'UNH'
UNH['dailyReturns'] = UNH['Close'].pct_change()

df = df.append(UNH, ignore_index = True)

# Verizon Coorporation
VZ = pd.read_excel('Data/DJI/VZ.xlsx', skiprows = 25)
VZ = VZ.loc[:,'Exchange Date':'%CTurn']
VZ['Symbol'] = 'VZ'
VZ['dailyReturns'] = VZ['Close'].pct_change()

df = df.append(VZ, ignore_index = True)

# Visa
V = pd.read_excel('Data/DJI/V.xlsx', skiprows = 22)
V = V.loc[:,'Exchange Date':'%CTurn']
V['Symbol'] = 'V'
V['dailyReturns'] = V['Close'].pct_change()

df = df.append(V, ignore_index = True)

# Wal-Mart Stores Inc
WMT = pd.read_excel('Data/DJI/WMT.xlsx', skiprows = 25)
WMT = WMT.loc[:,'Exchange Date':'%CTurn']
WMT['Symbol'] = 'WMT'
WMT['dailyReturns'] = WMT['Close'].pct_change()

df = df.append(WMT, ignore_index = True)

# DowDuPont Inc
DWDP = pd.read_excel('Data/DJI/DWDP.xlsx', skiprows = 26)
DWDP = DWDP.loc[:,'Exchange Date':'%CTurn']
DWDP['Symbol'] = 'DWDP'
DWDP['dailyReturns'] = DWDP['Close'].pct_change()

df = df.append(DWDP, ignore_index = True)

# adding DJI Index to DF
df = df.append(DJI,ignore_index = True)

In [ ]:
df.head()

In [39]:
writer = pd.ExcelWriter('output.xlsx')

df.to_excel(writer, 'Sheet1')


# AAPL.to_excel(writer,'Sheet1')
# MMM.to_excel(writer,'Sheet2')

#BA.to_excel(writer,'Sheet1')
#GS.to_excel(writer,'Sheet2')
#MMM.to_excel(writer,'Sheet3')
#UNH.to_excel(writer,'Sheet4')
#HD.to_excel(writer,'Sheet5')
#MCD.to_excel(writer,'Sheet6')
#AAPL.to_excel(writer,'Sheet7')
#IBM.to_excel(writer,'Sheet8')
#CAT.to_excel(writer,'Sheet9')
#JNJ.to_excel(writer,'Sheet10')
#TRV.to_excel(writer,'Sheet11')
#UTX.to_excel(writer,'Sheet12')
#CVX.to_excel(writer,'Sheet13')
#V.to_excel(writer,'Sheet14')
#DIS.to_excel(writer,'Sheet15')
#JPM.to_excel(writer,'Sheet16')
#AXP.to_excel(writer,'Sheet17')
#WMT.to_excel(writer,'Sheet18')
#PG.to_excel(writer,'Sheet19')
#MSFT.to_excel(writer,'Sheet20')
#XOM.to_excel(writer,'Sheet21')
#DWDP.to_excel(writer,'Sheet22')
#NKE.to_excel(writer,'Shee23')
#MRK.to_excel(writer,'Sheet24')
#VZ.to_excel(writer,'Sheet25')
#KO.to_excel(writer,'Sheet26')
#INTC.to_excel(writer,'Sheet27')
#CSCO.to_excel(writer,'Sheet28')
#PFE.to_excel(writer,'Sheet29')
#GE.to_excel(writer,'Sheet30')

writer.save()

In [42]:
df['dailyReturns'] = df['Close'].pct_change()
df.head()

,Exchange Date,Close,Net,%Chg,Open,Low,High,Volume,Turnover,Approx VWAP,O-C,H-L,%CVol,%CTurn,Symbol,dailyReturns
0,2017-12-12,171.70,-0.97,-0.005618,172.15,171.461,172.3900,19409230.0,3.336431e+09,171.9134,-0.45,0.9290,-0.449754,-0.449680,AAPL,NaN
1,2017-12-11,172.67,3.30,0.019484,169.20,168.790,172.8900,35273759.0,6.062715e+09,171.7150,3.47,4.1000,0.510315,0.529121,AAPL,0.005649
2,2017-12-08,169.37,0.05,0.000295,170.49,168.820,171.0000,23355231.0,3.964836e+09,169.7824,-1.12,2.1800,-0.090291,-0.089532,AAPL,-0.019112
3,2017-12-07,169.32,0.31,0.001834,169.03,168.910,170.4400,25673308.0,4.354724e+09,169.6488,0.29,1.5300,-0.101075,-0.097726,AAPL,-0.000295
4,2017-12-06,169.01,-0.63,-0.003714,167.50,166.460,170.2047,28560000.0,4.826388e+09,168.9621,1.51,3.7447,0.044235,0.036641,AAPL,-0.001831

In [ ]:
import datetime
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.cbook as cbook

years = mdates.YearLocator()   # every year
months = mdates.MonthLocator()  # every month
yearsFmt = mdates.DateFormatter('%Y')

# Load a numpy record array from yahoo csv data with fields date, open, close,
# volume, adj_close from the mpl-data/example directory. The record array
# stores the date as an np.datetime64 with a day unit ('D') in the date column.
with cbook.get_sample_data('goog.npz') as datafile:
    r = np.load(datafile)['price_data'].view(np.recarray)

fig, ax = plt.subplots()
ax.plot(r.date, r.adj_close)

# format the ticks
ax.xaxis.set_major_locator(years)
ax.xaxis.set_major_formatter(yearsFmt)
ax.xaxis.set_minor_locator(months)

# round to nearest years...
datemin = np.datetime64(r.date[0], 'Y')
datemax = np.datetime64(r.date[-1], 'Y') + np.timedelta64(1, 'Y')
ax.set_xlim(datemin, datemax)


# format the coords message box
def price(x):
    return '$%1.2f' % x
ax.format_xdata = mdates.DateFormatter('%Y-%m-%d')
ax.format_ydata = price
ax.grid(True)

# rotates and right aligns the x labels, and moves the bottom of the
# axes up to make room for them
fig.autofmt_xdate()

plt.show()